src/conf/xml-resources/web-service-references/peticiones/wsdl/localhost_8080/Sistema_Facturacion/peticiones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="buscarGrupoClasificacionPorID" type="tns:buscarGrupoClasificacionPorID"/>

<xs:element name="buscarGrupoClasificacionPorIDResponse" type="tns:buscarGrupoClasificacionPorIDResponse"/>

<xs:element name="buscarP" type="tns:buscarP"/>

<xs:element name="buscarPResponse" type="tns:buscarPResponse"/>

<xs:element name="buscarProductoPorId" type="tns:buscarProductoPorId"/>

<xs:element name="buscarProductoPorIdResponse" type="tns:buscarProductoPorIdResponse"/>

<xs:element name="buscarRUCProveedorPorID" type="tns:buscarRUCProveedorPorID"/>

<xs:element name="buscarRUCProveedorPorIDResponse" type="tns:buscarRUCProveedorPorIDResponse"/>

<xs:element name="buscarRuc" type="tns:buscarRuc"/>

<xs:element name="buscarRucResponse" type="tns:buscarRucResponse"/>

<xs:element name="crearProducto" type="tns:crearProducto"/>

<xs:element name="crearProductoResponse" type="tns:crearProductoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listarPersonas" type="tns:listarPersonas"/>

<xs:element name="listarPersonasResponse" type="tns:listarPersonasResponse"/>

<xs:element name="listarUsuarios" type="tns:listarUsuarios"/>

<xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse"/>

<xs:element name="listarroles" type="tns:listarroles"/>

<xs:element name="listarrolesResponse" type="tns:listarrolesResponse"/>

<xs:element name="loginUsuario" type="tns:loginUsuario"/>

<xs:element name="loginUsuarioResponse" type="tns:loginUsuarioResponse"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="registrarCompetenciaRol" type="tns:registrarCompetenciaRol"/>

<xs:element name="registrarCompetenciaRolResponse" type="tns:registrarCompetenciaRolResponse"/>

<xs:element name="registrarFacturaConItems" type="tns:registrarFacturaConItems"/>

<xs:element name="registrarFacturaConItemsResponse" type="tns:registrarFacturaConItemsResponse"/>

<xs:element name="registrarProveedorYClasificacion" type="tns:registrarProveedorYClasificacion"/>

<xs:element name="registrarProveedorYClasificacionResponse" type="tns:registrarProveedorYClasificacionResponse"/>

<xs:element name="registrarTipoPago" type="tns:registrarTipoPago"/>

<xs:element name="registrarTipoPagoResponse" type="tns:registrarTipoPagoResponse"/>

<xs:element name="registrarUsuarioPersonaRol" type="tns:registrarUsuarioPersonaRol"/>

<xs:element name="registrarUsuarioPersonaRolResponse" type="tns:registrarUsuarioPersonaRolResponse"/>

<xs:element name="registrarrol" type="tns:registrarrol"/>

<xs:element name="registrarrolResponse" type="tns:registrarrolResponse"/>

<xs:element name="siexisteComp" type="tns:siexisteComp"/>

<xs:element name="siexisteCompResponse" type="tns:siexisteCompResponse"/>

<xs:element name="siexisterol" type="tns:siexisterol"/>

<xs:element name="siexisterolResponse" type="tns:siexisterolResponse"/>

<xs:complexType name="registrarProveedorYClasificacion">
<xs:sequence>
<xs:element name="idProveedor" type="xs:int"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="moneda" type="xs:string" minOccurs="0"/>
<xs:element name="grupoClasificacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarProveedorYClasificacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="usuarios" type="tns:usuario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id_persona" type="xs:int"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="persona" type="tns:persona" minOccurs="0"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="personas" type="tns:persona" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id_persona" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarTipoPago">
<xs:sequence>
<xs:element name="idTipoPago" type="xs:int" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarTipoPagoResponse">
<xs:sequence>
<xs:element name="return" type="tns:tipoPago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoPago">
<xs:sequence>
<xs:element name="descrip" type="xs:string" minOccurs="0"/>
<xs:element name="id_tipo_pago" type="xs:int" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPersonas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPersonasResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarCompetenciaRol">
<xs:sequence>
<xs:element name="idRol" type="xs:int"/>
<xs:element name="nombreRol" type="xs:string" minOccurs="0"/>
<xs:element name="estadoRol" type="xs:boolean"/>
<xs:element name="idCompetencia" type="xs:int"/>
<xs:element name="nombreCompetencia" type="xs:string" minOccurs="0"/>
<xs:element name="estadoCompetencia" type="xs:boolean"/>
<xs:element name="idClasificacion" type="xs:int"/>
<xs:element name="grupoClasificacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarCompetenciaRolResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProducto">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="precioUnitario" type="xs:double"/>
<xs:element name="unidad" type="xs:string" minOccurs="0"/>
<xs:element name="idClasificacion" type="tns:clasificacion" minOccurs="0"/>
<xs:element name="idProveedor" type="tns:proveedores" minOccurs="0"/>
<xs:element name="iva" type="xs:boolean"/>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacion">
<xs:sequence>
<xs:element name="grupo" type="xs:string" minOccurs="0"/>
<xs:element name="id_clasificacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proveedores">
<xs:sequence>
<xs:element name="clasificacion" type="tns:clasificacion" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id_proveedor" type="xs:int"/>
<xs:element name="moneda" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarP">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarroles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarrolesResponse">
<xs:sequence>
<xs:element name="return" type="tns:rol" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rol">
<xs:sequence>
<xs:element name="estado" type="xs:boolean"/>
<xs:element name="id_rol" type="xs:int"/>
<xs:element name="rol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRUCProveedorPorID">
<xs:sequence>
<xs:element name="idProveedor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRUCProveedorPorIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUsuario">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="passwordUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="siexisterol">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="siexisterolResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarUsuarioPersonaRol">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="idPersona" type="xs:int"/>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="passwordUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="nombrePersona" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoPersona" type="xs:string" minOccurs="0"/>
<xs:element name="dniPersona" type="xs:string" minOccurs="0"/>
<xs:element name="celularPersona" type="xs:string" minOccurs="0"/>
<xs:element name="correoPersona" type="xs:string" minOccurs="0"/>
<xs:element name="idRol" type="xs:int"/>
<xs:element name="nombreRol" type="xs:string" minOccurs="0"/>
<xs:element name="estadoRol" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarUsuarioPersonaRolResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRuc">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRucResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarGrupoClasificacionPorID">
<xs:sequence>
<xs:element name="idClasificacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarGrupoClasificacionPorIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductoPorId">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductoPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
<xs:element name="id_clasificacion" type="tns:clasificacion" minOccurs="0"/>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="id_proveedor" type="tns:proveedores" minOccurs="0"/>
<xs:element name="iva" type="xs:boolean"/>
<xs:element name="precio_unitario" type="xs:double"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="unidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarFacturaConItems">
<xs:sequence>
<xs:element name="idFactura" type="xs:int" minOccurs="0"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="idPersona" type="tns:persona" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="idTipoPago" type="tns:tipoPago" minOccurs="0"/>
<xs:element name="descuento" type="xs:double" minOccurs="0"/>
<xs:element name="total" type="xs:double" minOccurs="0"/>
<xs:element name="itemsFactura" type="tns:itemFactura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemFactura">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="id_fcatura" type="tns:factura" minOccurs="0"/>
<xs:element name="id_item_factura" type="xs:int"/>
<xs:element name="id_producto" type="tns:producto" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="subtotal" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="descuento" type="xs:double" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_factura" type="xs:int" minOccurs="0"/>
<xs:element name="id_persona" type="tns:persona" minOccurs="0"/>
<xs:element name="id_tipo_pago" type="tns:tipoPago" minOccurs="0"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="total" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarFacturaConItemsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="siexisteComp">
<xs:sequence>
<xs:element name="idcomp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="siexisteCompResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarrol">
<xs:sequence>
<xs:element name="rolnombre" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:boolean"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarrolResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>